.app-composition {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: clip;

    &__editor-container {
        height: inherit;
        width: inherit;

        & > canvas {
            height: inherit;
            width: inherit;
        }
    }
}