$font-xxs: 0.75rem !default; // 12px
$font-xs: 0.875rem !default; // 14px
$font-sm: 1rem !default; // 16px
$font-md: 1.125rem !default; // 18px
$font-lg: 1.375rem !default; // 22px
$font-xl: 1.5rem !default; // 24px
$font-xxl: 2rem !default; // 32px

$border-radius-sm: 0.125rem !default; // 2px
$border-radius-md: 0.25rem !default; // 4px
$border-radius-lg: 0.5rem !default; // 8px

$icon-size-xs: 1rem !default; // 16px
$icon-size-sm: 1.5rem !default; // 24px
$icon-size-md: 2rem !default; // 32px
$icon-size-lg: 2.5rem !default; // 40px
$icon-size-xl: 3rem !default; // 48px
