.app-layout-footer {
    display: flex;
    align-items: center;
    gap: 5px;

    &__stage-options {
      margin-left: auto;
      display: flex;
      gap: 4px;
      align-items: center;
    }

    & .icon-btn {
      width: 30px;
      height: 30px;

      & > svg {
        height: 100%;

        & > path {
          fill: var(--main-color);
        }
      }

      &:hover > svg > path {
        fill: var(--accent-color);
      }
    }
  }
